body{
    background: hsla(339, 100%, 55%, 1);
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1B6B", endColorstr="#45CAFF", GradientType=1 );
}

h1{
    text-align: center;
}

.info {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    grid-template-areas: 
    'Heading Heading'
    'Define Define'
    'Tasks Lang'
    'image image';
    justify-content: center;
    align-content: center;
    max-width: 800px;
    min-width: 100px;

}
.Heading {
    grid-area: Heading;
    text-align: center;
    padding: 1em;
}

.define{
    grid-area: Define;
    background: hsla(52, 82%, 52%, 1);
    background: linear-gradient(90deg, hsla(52, 82%, 52%, 1) 0%, hsla(1, 92%, 47%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(52, 82%, 52%, 1) 0%, hsla(1, 92%, 47%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(52, 82%, 52%, 1) 0%, hsla(1, 92%, 47%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E9D022", endColorstr="#E60B09", GradientType=1 );
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

.Tasks {
    background: hsla(0, 100%, 67%, 1);
    background: linear-gradient(90deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF5858", endColorstr="#FFC8C8", GradientType=1 );
    grid-area: Tasks;
    text-align: left;
    padding: 1em;
    border-radius: 1em;
}

.Languages{
    background: hsla(340, 80%, 69%, 1);
    background: linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EF709B", endColorstr="#FA9372", GradientType=1 );
    grid-area: Lang;
    text-align: left;
    padding: 1em;
    border-radius: 1em;
}

.tables {
    background: hsla(40, 63%, 85%, 1);
    background: linear-gradient(90deg, hsla(40, 63%, 85%, 1) 0%, hsla(22, 94%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(40, 63%, 85%, 1) 0%, hsla(22, 94%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(40, 63%, 85%, 1) 0%, hsla(22, 94%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1E1C2", endColorstr="#FCBC98", GradientType=1 );
    margin: auto;
    border-radius: 1em;
    max-width: 800px;
    min-width: 100px;
    padding: 1em;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

table, th,td {
    border: 1px solid Black;
    border-collapse: collapse;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.ImagesCLientServer{
    grid-area: image;
    margin: auto;
    background-color: wheat;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
}

img{
    border-radius: 1em;
}

@media (max-width: 450px){
    .info{
        grid-template-columns: 1fr;
        grid-gap: 2em;
        grid-template-areas: 
        'Heading'
        'Define'
        'Tasks'
        'Lang'
        'image';
    }
}