body {
    background: hsla(270, 94%, 25%, 1);
    background: linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#42047E", endColorstr="#07F49E", GradientType=1 );
}

*{
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.container {
    padding: 0.2em;
    justify-content: center;
    margin: 5em;
}

.definition {
    margin: auto;
    display: grid;
    grid-template-columns: 2fr minmax(50px,2fr);
    grid-column-gap: 1em;
    background: hsla(191, 75%, 60%, 1);
    background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4DC9E6", endColorstr="#210CAE", GradientType=1 );
    border-radius: 1em;
    padding: 1em;
    max-width: 1000px;
    min-width: 100px;
    justify-content: center;
}

.deftext {
    text-align: left;
    color: black;
}

.image {
    text-align: center;
}

.tables {
    margin: auto;
    background: hsla(190, 79%, 59%, 1);
    background: linear-gradient(90deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#45CDE9", endColorstr="#7A8FD3", GradientType=1 );
    border-radius: 0em;
    max-width: 1000px;
    min-width: 100px;

}

img {
    margin: auto;
    border-radius: 1em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th{
    text-align: center;
    padding: 1em;
}

td {
    padding: 1em;
}

table, th,td {
    border: 1px solid white;
    border-collapse: collapse;
}